<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="3" parallel="tests"
       thread-count="1">


    <test name=" Test _ chrome">
        <parameter name="browser" value="Chrome" />
        <parameter name="url" value="https://www.flipkart.com/" />

        <classes>
            <class name="testCases.SearchProductTestOnBrowserStack" />

        </classes>
    </test>

    <test name=" Test _ Firefox">
        <parameter name="browser" value="Firefox" />
        <parameter name="url" value="https://www.flipkart.com/" />

        <classes>
            <class name="testCases.SearchProductTestOnBrowserStack" />

        </classes>
    </test>






</suite>